<div id="left" class="col-md-4">
<%= render 'login' %>

<h4>Don't have an account? <%= link_to 'Create an Account', new_user_path %></h4>
<h4>Prefer to browse anonymously? <%= link_to 'Back to Posts', posts_path %></h4>

</div>
<div id="center" class="col-md-4">
</div>
<div id="right" class="col-md-4">
</div>