<div id="left" class="col-md-4">
<h1>New User</h1>

<%= render 'form' %>

<%= link_to 'Back', '../sessions/new' %>
</div>
<div id="center" class="col-md-4">
</div>
<div id="right" class="col-md-4">
</div>